/* GENERAL RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* UTILITIES */

/* MENU' PRINCIPALE TOP */

/* HEADER */

/* SECTIONS */

/* FOOTER */

