/* GENERAL RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* DEBUG CONTENT */
.content {
    height: 30px;
    width: 100%;
}


/* UTILITIES */


/* MENU' PRINCIPALE TOP */
.col-logo {
    position: relative;
}

.logo {
    position: absolute;
    padding-top: 30px;
    vertical-align: middle;
    display: inline-block;
    left: 45%;
}

.nav-top {
    height: 100px;
    background-color: #255ee9;
}

.col-logo {
    width: 30%;
    float: left;
}

.colonnadestra {
    width: 70%;
    float: right;
}

.colonnadestra ul li {
    display: inline-block;
}

.link {
    color: white;
    text-decoration: none;
    padding: 25px;
    line-height: 90px;
}

.accedi {
    color: black;
    background: white;
    border-radius: 20px;
    padding: 10px;
    margin-left: 200px;
}



/* HEADER */
.img-principale {
    background-image: url(./img/jumbo.png);
    background-size: cover;
    width: 100%;
    height: 530px;
    position: relative;
}

.contenitoretesto {
    position: absolute;
    height: 50%;
    width: 40%;
    color: white;
    left: 30%;
    top: 33%;
    text-align: center;
    line-height: 30px;

}

.pulsanti-top {
    text-decoration: none;
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 50px;    
}

.mb-40 {
    margin-bottom: 40px;
}

.contenitoretesto h1 {
    font-size: 60px;
}


/* SECTIONS */
.white {
    background-color: white;
}

.grey {
    background-color: lightgrey;
}


/* FOOTER */

